node_modules/
**/node_modules/
frontend-nextjs/.next/
frontend-nextjs/out/
backend-strapi/build/
backend-strapi/dist/
.env
.env.local
**/.env
**/.env.local
backend-strapi/.tmp/
backend-strapi/public/uploads/*
!backend-strapi/public/uploads/.gitkeep
*.log
.DS_Store
Thumbs.db
.cache/